<!--  <ol>
  <li ng-repeat="item in narrow.found" >
    {{ item }} 
    <button ng-click="narrow.onRemove({index: $index});">Remove Item</button>
  </li>
</ol> -->
<!--  <ol>
<table>
	<tbody>
		<tr ng-repeat="item in narrow.found" class="ng-scope">  {{item}} </tr>
	</tbody>

</table>
</ol> -->


<table class="table table-striped table-hover dataTable responsive display" width="100%">
<thead>
<th>Name</th>
<th class="nosort"></th>
</thead>
<tbody>
<tr ng-repeat="item in items track by $index">
<td>{{item}}</td>

</tr>
</tbody>
</table>
